<%= provide(:title, "質問編集") %>
<div class="question-edit background-blue">
  <%= render partial: 'question_edit_page_link', locals: { params: @params, question: @question } %>
  <%= render 'shared/flash_message' %>
  <%= render partial: 'question_edit_question_box', locals: { question: @question } %>
</div>
