<%= provide(:title, "質問投稿") %>
<div class="question-new background-blue">
  <%= render partial: 'question_new_page_link', locals: { params: @params, school: @school } %>
  <%= render 'shared/flash_message' %>
  <%= render partial: 'question_new_question_box', locals: { question: @question, school: @school } %>
</div>
