<h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p>
<%= image_tag src='70b3dd52350bf605f1bb4078ef79c9b9.png', class: "user-icon", alt: "ユーザーアイコン" %>
<%= @question.user.name %>
<%= @question.name %>
<%= @question.content %>
