<p><%= @answer.question.user.name %>様</p>

<p>いつもご利用いただき誠にありがとうございます。</p>

<p>質問への回答があったため、メールを送信しています。下のリンクから回答内容の確認ができます。</p>

<p><%= link_to '回答内容の確認', question_url(@answer.question) %></p>

<p>===============================================</p>

<p>【質問名】</p>
<%= @answer.question.name %>

<p>【質問内容】</p>
<%= @answer.question.content %>

<p>===============================================</p>

<p>今後ともプロコミをどうぞ宜しくお願い申し上げます。</p>

<p>
  --------------------<br>
  プロコミ<br>
  責任者： ○○<br>
  E-mail: ○○@example.com<br>
  電話番号:○○○-○○○○-○○○○<br>
  住所:○○○○○○○○<br>
  --------------------<br>
</p>
