<h1>プロフィール</h1>
<div class="user-box">
  <h1 class="user-name">
    <%= @user.name %>
  </h1>
  <div class="introduction">
    <%= @user.introduction %>
  </div>
</div>

<a href="#" class="button">
  変更する
</a>
