<% if object.errors.any? %>
  <div id="error_explanation">
    <p class="alert alert-danger">
      <%= object.errors.count %>件のエラー
    </p>
    <ul class="alert">
      <% object.errors.full_messages.each.with_index(1) do |msg, i| %>
        <li><%= "#{i}. #{msg}" %></li>
      <% end %>
    </ul>
  </div>
<% end %>
