<section class="top">
  <div class="top-background">
    <div class="home-explanation">
      <%= image_tag 'logo.png' %>
      <p>リアルな口コミが今すぐに見られる</p>
      <%= link_to "見つける", { anchor: "search" }, class: "button" %>
    </div>
  </div>
</section>
