<div class="circle-group flex">
  <div class="circle">
    <div class="circle-box">
      <p><i class="fa fa-university" aria-hidden="true"></i></p>
      <p>スクール数</p>
      <p><%= schools.count %></p>
    </div>
  </div>
  <div class="circle">
    <div class="circle-box">
      <p><i class="fa fa-comment-o" aria-hidden="true"></i></p>
      <p>口コミ数</p>
      <p><%= reviews.count %></p>
    </div>
  </div>
  <div class="circle">
    <div class="circle-box">
      <p><i class="fa fa-question" aria-hidden="true"></i></p>
      <p>質問数</p>
      <p><%= questions.count %></p>
    </div>
  </div>
</div>
