<div class="home">
  <%= render 'shared/flash_message' %>
  <%= render 'home_top' %>
  <section id="search" class="background-blue">
    <%= render partial: 'home_school_search_box', locals: { q: @q, school_style: @school_style, school_support: @school_support, school_guarantee: @school_guarantee } %>
    <%= render partial: 'home_circle_group', locals: { schools: @schools, reviews: @reviews, questions: @questions } %>
  </section>
</div>
