<div class="background-blue">
  <div class="result">
    < <%= link_to '検索画面に戻る', root_path %>
    
    <table>
      <tr>
        <th>順位</th>
        <th>スクール名</th>
        <th>口コミ評価</th>
        <th>口コミ数</th>
      </tr>

      <% @schools.each.with_index(1) do |school, i| %>
        <tr>
          <td><%= i %></td>
          <td>
            <%= school.name %>
          </td>
          <td>口コミ評価</td>
          <td>口コミ数</td>
        </tr>
      <% end %>
    </table>
    <%= link_to "登録", new_school_path %>
  </div>
</div>
