<div class="page-link">
  <% if params == "school_index" %>
    <ul class="flex">
      <li><%= link_to 'スクール一覧', schools_path %></li>
      <li>＞</li>
      <li><%= link_to 'スクール追加', "#", class: "link-underline" %></li>
    </ul>
  <% else %>
    <ul>
      <li><%= link_to 'スクール追加', "#", class: "link-underline" %></li>
    </ul>
  <% end %>
</div>
