<%= provide(:title, "プログラミングスクール新規追加") %>
<div class="school-new">
  <%= render partial: 'school_new_page_link', locals: { params: @params } %>
  <%= render 'shared/flash_message' %>
  <div class="school-search-box">
    <h2>プログラミングスクールの追加</h2>
    <%= render partial: 'school_new_school_form', locals: { school: @school } %>
  </div>
</div>
