/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 共通 */
html {
  margin: 0;
}

body {
  margin: 0;
}

.content {
  padding-top: 5rem;
}

.notice {
  margin: 0;
}

.alert {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

h2,h3 {
  text-align: center;
}

textarea {
  font-family: "Hiragino Kaku Gothic ProN";
  width: 100%;
  box-sizing: border-box;
}

.link-underline {
  text-decoration: underline;
  color: #551A8B;
  display: inline-block;
  padding-top: 0.5rem;
}

.back-link {
  margin-left: 2rem;
}

.back-link:hover {
  opacity: 0.7;
}


/* ヘッダー */

header {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  background-color: #A4C6FF;
  position: fixed;
  width: 100%;
}

header .button {
  margin: 0 3rem 0 0;
  padding: 0.5rem;
  height: 2rem;
  line-height: 2rem;
}

header .button:first-child {
  margin-left: 3rem;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

header input {
  padding: 0.3rem;
  width: 9rem;
  font-size: 1rem;
  height: 2rem;
}

.logo {
  color: #0000FF;
  border: none;
  font-size: 2rem;
  font-weight: bold;
}

.school-list-button {
  background-color: #005FFF;
  color: white;
  border-color: #005FFF;
}

.login-button {
  background-color: #0000FF;
  color: white;
  border-color: #0000FF;
}

.signup-button {
  background-color: #00ECFF;
  color: black;
}

/* フッター */

footer {
  text-align: center;
  height: 4rem;
  background-color: #A4C6FF;
  line-height: 4rem;
}

footer p {
  margin: 0;
}
