/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

/* 共通 */
html {
  margin: 0;
}

body {
  margin: 0;
  color: #333;
}

.content {
  min-height: 100vh;
  position: relative;
  padding-bottom: 6.25rem;
  box-sizing: border-box;
  background-color: #eef3f7;
}

.main-content {
  padding-top: 5rem;
}

.notice {
  margin: 0;
}

.alert {
  margin: 0;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

h2,h3 {
  text-align: center;
}

input, select {
  font-size: 1rem;
}

textarea {
  font-family: "Hiragino Kaku Gothic ProN";
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0.3rem;
}

.user-icon {
  border-radius: 50%;
  border: 1px solid rgb(212, 212, 212);
}

.user-icon-default {
  width: 7rem;
}

.link-underline {
  text-decoration: underline;
  color: #551A8B;
  /* display: inline-block; */
  /* padding-top: 0.5rem; */
}

.back-link {
  margin-left: 2rem;
}

.back-link:hover {
  opacity: 0.7;
}

.badge {
  border: solid 1px #FF0000;
  background-color: #FF0000;
  border-radius: 0.25rem;
  color: #fff;
  padding: 0 0.1rem;
  margin-left: 0.5rem;
  display: inline-block;
}

.alert {
  text-align: center;
}

#error_explanation {
  width: 20rem;
  margin: 0 auto;
  border: 1px solid #f5c2c7;
  padding: 1rem 0.5rem;
  background-color: #f8d7da;
  color: #842029;
  border-radius: 0.5rem;
}

#error_explanation ul {
  margin: 0.5rem auto 0 auto;
  width: 90%;
}

#error_explanation p {
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;
}

.alert li {
  text-align: left;
}

.alert-success, .alert-notice {
  background-color: #d1e7dd;
  border: 1px solid #badbcc;
  color: #0f5132;
  width: 25rem;
  border-radius: 0.25rem;
  text-align: left;
  padding: 1rem;
  margin-left: 5%;
  animation: fadeIn 6s ease 0s 1 normal;
  position: absolute;
}

.alert-failure, .alert-alert {
  color: #842029;
  background-color: #f8d7da;
  border: 1px solid #f5c2c7;
  width: 25rem;
  border-radius: 0.25rem;
  text-align: left;
  padding: 1rem;
  margin-left: 5%;
  animation: fadeIn 6s ease 0s 1 normal;
  position: absolute;
}

@keyframes fadeIn {

  0%, 100% {opacity: 0}

  50% {opacity: 1}

}


/* ヘッダー */

header {
  display: flex;
  justify-content: space-between;
  height: 5rem;
  background-color: #1c385e;
  position: fixed;
  width: 100%;
  z-index: 1;
}

header .user-icon-default {
  width: 3.5rem;
  display: block;
}

header .user-icon {
  width: 3rem;
  display: block;
}

.header-left {
  display: flex;
  align-items: center;
}

header input {
  padding: 0.3rem;
  width: 9.6rem;
  height: 2rem;
}

.logo {
  width: 7rem;
  display: block;
  margin: 0 2rem;
  padding-bottom: 1rem;
}

/* ヘッダー右 */
/* ヘッダー右 全体 */
.header-right {
  margin: 0;
  display: flex;
  align-items: center;
}

.header-right a {
  display: block;
}

.header-right li {
  line-height: 5rem;
  margin-right: 2.5vw;
}

.header-right a, .header-right li {
  color: #fff;
  font-weight: 500;
  height: 100%;
}

.header-right a:hover {
  color: #66FF66;
  text-decoration: underline;
  text-underline-offset: 1.85rem;
  text-decoration-thickness: 3px;
}

.header-right .header-icon {
  height: auto;
  border-bottom: 3px solid #1c385e;
  border-top: 3px solid #1c385e;
  box-sizing: border-box;
  padding: 0.75rem 0;
}

.header-right .header-icon:hover {
  border-bottom: #66FF66 3px solid;
}

.header-right .header-icon-guest:hover {
  border: none;
}

/* ドロップダウン 共通 */
.header-right .header-dropdown {
  position: absolute;
  top: 5rem;
  background-color: #1c385e;
  transform: scaleY(0);
  transform-origin: center top;
  transition: all 0.3s;
}

.header-right .header-dropdown-list {
  border-top: #dddd 1px solid;
  width: 100%;
  box-sizing: border-box;
  height: auto;
  line-height: normal;
}

.header-right .header-dropdown-list a {
  padding: 1rem;
  box-sizing: border-box;
  color: #fff;
}

.header-right .header-dropdown-list:hover a {
  text-decoration: none;
  color: #fff;
  background-color: #2f5a97;
}

/* ドロップダウン スクール */
.header-right .header-school:hover .header-dropdown {
  transform: scaleY(1);
}

/* ドロップダウン アイコン */
.header-icon .header-dropdown {
  right: 0;
}

.header-icon .header-dropdown-list {
  margin-right: 0;
  width: 8rem;
  /* padding-right: 0.5rem; */
}

.header-right .header-icon:hover .header-dropdown {
  transform: scaleY(1);
}


/* フッター */

footer {
  position: absolute;
  bottom: 0;
  text-align: center;
  height: 6.25rem;
  background-color: #1c385e;
  line-height: 6.25rem;
  color: #fff;
  font-size: smaller;
  width: 100%;
}

footer p {
  margin: 0;
}


/* レスポンシブデザイン */

@media screen and (max-width: 520px) {
  #error_explanation {
    width: 100%;
    box-sizing: border-box;
  }

  .alert-success, .alert-notice {
    width: 80%;
    margin-left: 1rem;
  }

  .alert-failure, .alert-alert {
    width: 80%;
    margin-left: 1rem;
  }
}
