// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 全共通
.solution {
  border: 1px solid #000000;
  border-radius: 10rem;
  width: 5rem;
  text-align: center;
  font-size: 0.9rem;
  padding: 0.1rem 0;
}

.solution-red {
  color: #ec0202;
  border-color: #ec0202;
}

.solution-orange {
  color: rgb(249, 150, 73);
  border-color: rgb(249, 150, 73);
}

.solution-green {
  color: #00DD00;
  border-color: #00DD00;
}

.question-index, .question-show, .question-new, .question-edit {
  .header-image {
    background-image: url('QA.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 13rem;
    .header-image-box {
      background-color: rgba(255, 255, 255, 0.5);
      line-height: 13rem;
      h2 {
        color: #000080;
        font-size: 3rem;
        font-weight: bold;
        font-family: "ヒラギノ丸ゴ ProN";
      }
    }
  }
}


// 質問一覧 質問詳細 共通
.question-index, .question-show {
  padding: 0 0 3rem 0;
  h2 {
    margin: 0 0 3rem 0;
  }
  img {
    display: block;
  }
  .back-link {
    width: 20rem;
  }
  .question-content {
    width: 60%;
    margin: 5rem auto 0 auto;
  }
  .question-box {
    margin: 2rem 0 0 0;
    border: 1px solid #CCCCCC;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.25rem;
  }
  .user-icon {
    width: 2rem;
  }
  .flex {
    align-items: center;
    height: 1.9rem;
  }
  .question-name {
    font-size: 1.3rem;
    margin: 1rem 0 1rem 0 ;
    a {
      color: #000000;
      &:hover {
        color: #3399FF;
        opacity: 0.7;
      }
    }
  }
  .question-user-name {
    font-size: 1.1rem;
    margin-left: 0.5rem;
    a {
      color: #000000;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .question-time {
    font-size: 0.8rem;
  }
  .solution {
    margin-bottom: 0.5rem;
  }
}

// 質問一覧
.question-index {
  .button {
    border-radius: 10rem;
    background-color: rgb(249, 150, 73);
    color: #fff;
  }
  .flex {
    li {
      &:last-child {
        margin-left: auto;
      }
    }
  }
}

.question-index-head-flex {
  justify-content: space-between;
}

.question-index-button {
  margin: 2rem 4rem 0 0;
  width: 12%;
}

// 質問詳細

.question-show {
  .question-content {
    margin: 4rem auto 0 auto;
  }
  .question-box {
    margin: 0 0 2rem 0;
    padding: 2rem;
  }
  .flex {
    border-bottom: 1px solid #CCCCCC;
  }
  .question-name {
    margin: 1rem 0 0 0;
  }
  .question-show-text {
    min-height: 5rem;
    height: auto;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  .question-time {
    text-align: right;
  }
  .answer-box {
    margin: 1rem 0 2rem 0;
  }
  .answer-textarea-box {
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
  }
  .submit-button {
    width: 30%;
    margin-bottom: 1rem;
  }
  textarea {
    padding: 0.3rem 0.5rem;
    height: 10rem;
    margin: 1rem 0;
  }
  .solution-box {
    text-align: center;
    margin: 3rem 0 3rem 0;
    padding: 1rem;
    color: #525252;
    p {
      font-size: 1.1rem;
      margin: 0 0 1rem 0;
    }
    .button {
      width: 30%;
      border-radius: 10rem;
      background-color: rgb(249, 150, 73);
      color: #fff;
    }
    .unsolution {
      background-color: #b3b1b1;
    }
  }
  .button {
    width: 30%;
    background-color: #fff;
    color: #000000;
  }
  .newanswer {
    text-align: center;
  }
}

.rotateY180 {
  display: inline-block;     /* インラインブロック化 */
  transform: rotateY( 180deg );
  -moz-transform:    rotateY( 180deg );  /* Firefox用 */
  -webkit-transform: rotateY( 180deg );  /* Chrome,Safari,新しいOpera用 */
  -o-transform:      rotateY( 180deg );  /* 古いOpera用 */
  -ms-transform:     rotateY( 180deg );  /* IE9用 */
  font-size: 2rem;
  color: #0000FF;
  z-index: -1;
}

.span-answer {
  font-size: 1.3rem;
  margin-left: 0.5rem;
}

.label-answer {
  font-size: 1.3rem;
  padding: 1rem 0;
}




// 質問新規登録 質問編集

.question-new, .question-edit {
  padding: 0 0 3rem 0;
  .question-school-name {
    font-size: 1.4rem;
  }
  .review-and-question-content-border {
    .flex {
      li {
        &:first-child {
          width: 25%;
        }
        &:last-child {
          width: 75%;
        }
      }
    }
    select {
      height: 2rem;
    }
    input {
      margin-top: 1rem ;
      height: 2rem;
    }
    ul {
      margin: 1.7rem auto;
    }
    .ul-icon {
      margin: 1rem auto;
    }
  }
  form textarea {
    height: 12rem;
    padding: 0.3rem 0.5rem;
  }
  h2 {
    margin: 0;
  }
}

// 質問編集
.question-edit .question-name-label {
  font-size: 1.4rem;
}
