// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 全共通
.delete-button {
  color: #FF0000;
}

// 口コミ投稿 口コミ詳細  口コミ編集 質問新規追加 質問編集 共通

.review-new, .review-show, .review-edit, .question-new, .question-edit {
  color: #1a3153;
  select {
    height: 2rem;
    font-size: 1rem;
    width: 100%;
  }
  input {
    height: 2rem;
    font-size: 1rem;
    padding: 0.2rem;
    width: 100%;
    box-sizing: border-box;
  }
  textarea {
    margin-top: 1rem;
    padding: 0.3rem;
    height: 7rem;
  }
  .submit-button {
    padding: 0.5rem;
    width: 40%;
    height: auto;
  }
  .button {
    width: 40%;
    margin-top: 2rem;
    color: #000;
  }
  .review-and-question-box {
    border: 1px solid #dddddd;
    width: 830px;
    margin: 5rem auto 0 auto;
    border-radius: 0.25rem;
    background-color: #fff;
    padding: 2rem 0;
    .review-and-question-box-content {
      margin: 0 3rem;
      h3 {
        text-align: left;
        padding: 1.5rem 0 1.5rem 0;
        font-weight: 500;
        width: 85%;
        margin: 0 auto;
      }
      ul {
        width: 85%;
        margin: 1.5rem auto;
        .review-and-question-label {
          width: 35%;
          font-size: 1.1rem;
          font-weight: 600;
        }
        li {
          // &:first-child {
          //   width: 35%;
          //   font-size: 1.1rem;
          //   font-weight: 600;
          // }
          .badge {
            font-weight: 400;
            font-size: 1rem;
          }
        }
      }
      .review-and-question-content-border {
        border-bottom: 1px solid #dddddd;
        position: relative;
        .flex {
          align-items: center;
        }
      }
      .review-and-question-button {
        text-align: center;
      }
    }
  }
}

.review-new, .review-show, .review-edit {
  .review-and-question-box {
    margin: 4rem auto;
  }
}

// 口コミ投稿 口コミ編集 質問投稿 共通

.review-new h2, .review-edit h2, .question-new h2 {
  margin-bottom: 2rem;
}


// 口コミ投稿 口コミ編集 共通

.review-new, .review-edit {
  .flex {
    .review-and-question-input-field {
      width: 65%;
    }
  }
  .review-and-question-box {
    .review-and-question-box-content {
      .review-thought {
        margin-bottom: 2rem;
      }
    }
  }
}

// 口コミ投稿

.review-new {
  .submit-button {
    margin-bottom: 0.5rem;
  }
  .button {
    margin-top: 1.5rem;
  }
}

// 口コミ詳細

.review-show {
  .review-show-review-time {
    position: absolute;
    right: 0;
    top: -1.5rem;
    margin-bottom: 0;
    font-size: 0.8rem;
  }
  .review-school-name {
    font-size: 1.1rem;
  }
  .review-show-star {
    font-size: 1.3rem;
    margin-left: 1rem;
  }
  .review-show-text {
    border: 1px solid #dddddd;
    display: block;
    width: 100%;
    // height: 5rem;
    height: auto;
    min-height: 4rem;
    max-height: 10rem;
    overflow: auto;
    font-size: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    margin-top: 1rem;
    p {
      margin: 0;
    }
  }
  .review-show-ave-label {
    font-weight: 600;
    margin: 0 auto 1rem auto;
    text-align: center;
    label {
      font-size: 1.3rem;
    }
  }
  .review-show-ave-box {
    justify-content: center;
    #ave-star-rate {
      margin-left: 2.5rem;
      text-align: right;
      img {
        width: 2rem;
      }
    }
    .review-show-star {
      font-size: 1.6rem;
      margin-left: 2rem;
    }
  }
  .button {
    color: #000;
  }
  .edit-button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 0.5rem 0;
    margin-top: 2.5rem;
  }
}

// 口コミ編集

.review-edit {
  .button {
    margin-bottom: 1.5rem;
  }
}

// レスポンシブ対応

@media screen and (max-width: 960px) {

  // 口コミ投稿 口コミ詳細  口コミ編集 質問新規追加 質問編集 共通

  .review-show, .review-new, .review-edit, .question-new, .question-edit {
    // select {
    //   height: 1.7rem;
    //   font-size: 1rem;
    //   width: 100%;
    // }
    // input {
    //   font-size: 1rem;
    //   padding: 0.2rem;
    //   width: 100%;
    //   box-sizing: border-box;
    // }
    // textarea {
    //   margin-top: 1rem;
    //   padding: 0.3rem;
    //   height: 5rem;
    //   // height: auto;
    //   // max-height: 10rem;
    // }
    .submit-button {
      min-width: 15rem;
    }
    .button {
      width: 40%;
      min-width: 15rem;
      // margin-top: 2rem;
      // color: black;
    }
    .review-and-question-box {
      // border: 1px solid #dddddd;
      width: 85%;
      // margin: 5rem auto 0 auto;
      // border-radius: 0.25rem;
      // background-color: white;
      // padding: 2rem 0;
      .review-and-question-box-content {
        // width: 90%;
        // margin: 0 3rem;
        h3 {
          font-size: 1.1rem;
          // text-align: left;
          // padding: 1.5rem 0 1.5rem 0;
          // font-weight: 500;
          // width: 85%;
          // margin: 0 auto;
        }
        ul {
          width: 88%;
          // margin: 1.5rem auto;
          .review-and-question-label {
            // width: 44%;
            font-size: 1rem;
          }
          // li {
          //   &:first-child {
          //     width: 44%;
          //     font-size: 1rem;
          //     // font-weight: 600;
          //   }
          // }
        }
        .review-thought {
          li {
            &:first-child {
              width: 100%;
            }
          }
        }
      //   .review-and-question-content-border {
      //     border-bottom: 1px solid #dddddd;
      //     position: relative;
      //     .flex {
      //       align-items: center;
      //     }
      //   }
      //   .review-and-question-button {
      //     text-align: center;
      //   }
      }
    }
  }


  // 口コミ詳細

  .review-show {
    .review-and-question-box {
      .review-and-question-box-content {
        ul {
          .review-and-question-label {
            width: 44%;
          }
          .review-school-name {
            font-size: 1rem;
          }
        }
        .review-show-review-time {
          font-size: 0.7rem;
        }
        .flex {
          li {
            img {
              width: 1.2rem;
            }
          }
          .review-show-star {
            font-size: 1.1rem;
          }
        }
        .review-show-ave-label {
          label {
            font-size: 1.2rem;
          }
        }
        .review-show-ave-box {
          justify-content: center;
          #ave-star-rate {
            margin-left: 0;
            text-align: right;
            width: 46%;
            img {
              width: 1.4rem;
            }
          }
          .review-show-star {
            font-size: 1.3rem;
            margin-left: 8%;
            margin-right: 8%;
          }
        }
      }
    }
  }

  // 口コミ新規登録 口コミ編集 共通

  .review-new, .review-edit {
    .review-and-question-box {
      .review-and-question-box-content {
        ul {
          .review-and-question-label {
            width: 45%;
          }
          .review-and-question-input-field {
            width: 60%;
          }
        }
        .school-name-flex, .review-name-flex {
          display: block;
          .review-and-question-label {
            width: 100%;
            margin-bottom: 1rem;
          }
        }
        .school-name-flex {
          .review-and-question-input-field {
            width: 100%;
            max-width: 25rem;
          }
        }
        .review-name-flex {
          .review-and-question-input-field {
            width: 100%;
          }
        }
        .review-thought {
          .review-and-question-label {
            width: 100%;
          }
        }
      }
    }
  }
}



@media screen and (max-width: 520px) {

  // 口コミ投稿 口コミ詳細  口コミ編集 質問新規追加 質問編集 共通

  .review-show, .review-new, .review-edit, .question-new, .question-edit {
    // select {
    //   height: 1.7rem;
    //   font-size: 1rem;
    //   width: 100%;
    // }
    // input {
    //   font-size: 1rem;
    //   padding: 0.2rem;
    //   width: 100%;
    //   box-sizing: border-box;
    // }
    // textarea {
    //   margin-top: 1rem;
    //   padding: 0.3rem;
    //   height: 5rem;
    //   // height: auto;
    //   // max-height: 10rem;
    // }
    .submit-button {
      width: 80%;
      min-width: 8rem;
    }
    .button {
      // width: 50%;
      width: 80%;
      // min-width: 8rem;
      min-width: 8rem;
      // margin-top: 2rem;
      // color: black;
    }
    .review-and-question-box {
      // border: 1px solid #dddddd;
      // width: 85%;
      // margin: 5rem auto 0 auto;
      // border-radius: 0.25rem;
      // background-color: white;
      // padding: 2rem 0;
      .review-and-question-box-content {
        // width: 90%;
        margin: 0 2rem;
        .flex {
          flex-wrap: wrap;
        }
        // h3 {
          // font-size: 1.1rem;
          // text-align: left;
          // padding: 1.5rem 0 1.5rem 0;
          // font-weight: 500;
          // width: 85%;
          // margin: 0 auto;
        // }
        ul {
          // display: block;
          width: 90%;
          // margin: 1.5rem auto;
          .review-and-question-label {
            width: 100%;
            margin-bottom: 1rem;
          }
          // li {
          //   &:first-child {
          //     width: 100%;
          //     margin-bottom: 0.5rem;
          //     // font-size: 1rem;
          //     // font-weight: 600;
          //   }
          // }
        }
        // .review-thought {
        //   li {
        //     &:first-child {
        //       width: 100%;
        //     }
        //   }
        // }
      //   .review-and-question-content-border {
      //     border-bottom: 1px solid #dddddd;
      //     position: relative;
      //     .flex {
      //       align-items: center;
      //     }
      //   }
      //   .review-and-question-button {
      //     text-align: center;
      //   }
      }
    }
  }


  // 口コミ詳細

  .review-show {
    .review-and-question-box {
      .review-and-question-box-content {
        // .flex {
        //   flex-wrap: wrap;
        // }
        .review-show-text {
          max-height: 20rem;
        }
        .review-show-ave-box {
          #ave-star-rate {
            margin-bottom: 0;
            text-align: center;
            width: 75%;
            img {
              width: 1.3rem;
            }
          }
          .review-show-star {
            font-size: 1.2rem;
            margin-right: 0.8rem;
            margin-left: 0;
          }
        }
      }
    }
  }

  // 口コミ新規登録 口コミ編集 共通

  .review-new, .review-edit {
    .review-and-question-box {
      .review-and-question-box-content {
        ul {
          .review-and-question-input-field {
            width: 100%;
          }
        }
        .school-name-flex {
          .review-and-question-input-field {
            width: 100%;
            min-width: auto;
          }
        }
        .review-thought {
          .review-and-question-label {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
