// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 全共通

.flex {
  display: flex;
}

.background-blue {
  background-color: #eef3f7;
}

.schools-box, .school-search-box {
  border: solid 1px #dddddd;
  padding: 1rem;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 0.5rem;
  color: #1a3153;
  input, select {
    font-weight: 500;
    color: #1a3153;
    width: 100%;
  }
}

// home result スクール新規登録 共通

.school-form-label {
  display: block;
  text-align: center;
  font-weight: 700;
  line-height: 2rem;
}

// home result 共通

.school_search {
  text-align: center;
  .submit-button {
    width: 35%;
    margin: 2rem 0 1rem 0;
    color: #fff;
  }
}

.school-form-select {
  font-size: 1rem;
  height: 100%;
}

// home スクール新規登録 共通

.school-form-flex-item {
  width: 50%;
  text-align: center;
  &:last-child {
    border-left: 1px solid #dddddd;
  }
  ul {
    display: flex;
    height: 2rem;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    select {
      height: 100%;
    }
    li {
      list-style: none;
      vertical-align: middle;
      height: 100%;
      &:first-child {
        width: 35%;
      }
      &:last-child {
        width: 60%;
      }
    }
  }
  .school-form-flex-item-left {
    margin: 0 0 0 2rem;
    padding: 1.5rem 3rem 1.5rem 0;
    &:first-child {
      border-top: 1px solid #dddddd;
    }
  }
  .school-form-flex-item-right {
    margin: 0 2rem 0 0;
    padding: 1.5rem 2rem 1.5rem 1rem;
    &:first-child {
      border-top: 1px solid #dddddd;
    }
  }
}

// // home

.home {
  color: #1a3153;
  .top {
    background-image: url('top-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 43rem;
    .top-background {
      background-color: rgba(0, 12, 70, 0.5);
      height: 43rem;
      .home-explanation {
        top: 10rem;
        position: absolute;
        width: 50%;
        img {
          display: block;
          width: 70%;
          min-width: 25rem;
          margin: 0 auto;
        }
        p {
          margin: 3rem auto;
          color: #fff;
          width: 70%;
          min-width: 25rem;
          font-size: 1.5rem;
          text-align: center;
        }
        .button {
          width: 35%;
          border-radius: 10rem;
          background-color: #007bff;
          color: #fff;
          border-color: #007bff;
          margin-top: 4rem;
        }
      }
    }
  }
  #search {
    padding: 6rem 0;
    .school-search-box {
      width: 830px;
      h2 {
        margin: 1.5rem 0 2rem 0;
      }
    }
    .circle-group {
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      margin: 6rem auto 0 auto;
      .circle {
        background-color: #fff;
        border-radius: 50%;
        min-width: 13rem;
        height: 13rem;
        padding: 1rem;
        margin: 0 2.3rem;
        .circle-box {
          p {
            margin: 0;
            text-align: center;
            &:first-child {
              font-size: 1.5rem;
            }
            &:nth-child(2) {
              margin: 0 0 0.5rem 0;
              font-size: 1.3rem;
              font-weight: 600;
            }
            &:last-child {
              font-size: 4rem;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

// result
.search-result {
  .school-image-box {
    padding-right: 2rem;
  }
  .search-result-search-box {
    width: 25%;
    margin: 1.6rem 3rem 0 3rem;
    .school-search-box {
      padding: 0;
      border-radius: 0.25rem;
      h2 {
        margin: 0;
        padding: 1rem 0;
        background-color: #1a3153;
        color: #fff;
        border-radius: 0.25rem 0.25rem 0 0;
      }
      .school_search {
        padding: 0 2.5rem 1rem 2.5rem;
        ul {
          margin: 1.3rem 0;
          input, select {
            height: 2rem;
          }
          .school-form-label {
            text-align: left;
            font-weight: 600;
            font-size: 1.25rem;
          }
        }
        .submit-button {
          margin: 1rem 0;
          width: 80%;
        }
      }
    }
  }
}

// レスポンシブ対応

@media screen and (max-width: 960px) {

  // // home

  .home {
    .top {
      background-position: center;
      height: 35rem;
      .top-background {
        height: 35rem;
        .home-explanation {
          width: 60%;
          img {
            width: 70%;
            min-width: 16rem;
          }
          p {
            min-width: 16rem;
          }
          .button {
            min-width: 10rem;
            margin-top: 3rem;
          }
        }
      }
    }
    #search {
      padding: 4rem 0;
      .school-search-box {
        width: 80%;
      }
      .circle-group {
        margin: 4rem auto 0 auto;
        .circle {
          margin: 0 1.9rem;
          min-width: 10rem;
          width: 10rem;
          height: 10rem;
          .circle-box {
            p {
              &:first-child {
                font-size: 1.3rem;
              }
              &:nth-child(2) {
                font-size: 1.1rem;
              }
              &:last-child {
                font-size: 3rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {

  // // home

  .home {
    .top {
      height: 30rem;
      .top-background {
        height: 30rem;
        .home-explanation {
          top: 9rem;
          width: 70%;
          img {
            min-width: 12rem;
          }
          p {
            margin: 2rem auto;
            width: 75%;
            min-width: 12rem;
            font-size: 1.4rem;
          }
          .button {
            min-width: 8rem;
            width: 50%;
            margin-top: 2rem;
          }
        }
      }
    }
    #search {
      padding-bottom: 2rem;
      .school-search-box {
        h2 {
          margin: 1rem 0 0.5rem 0;
        }
      }
      .circle-group {
        margin-top: 2.5rem;
        .circle {
          margin: 0 1rem;
          min-width: 8rem;
          width: 8rem;
          height: 8rem;
          padding: 0.5rem;
          .circle-box {
            p {
              &:nth-child(2) {
                margin-bottom: 0rem;
              }
              &:last-child {
                font-size: 2.5rem;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 366px) {
  // // home

  .home {
    #search {
      .circle-group {
        .circle {
          margin: 0 0.5rem;
          min-width: 5.9rem;
          width: 5.9rem;
          height: 5.9rem;
          .circle-box {
            p {
              &:first-child {
                font-size: 1rem;
              }
              &:nth-child(2) {
                font-size: 1rem;
              }
              &:last-child {
                font-size: 1.5rem;
              }
            }
          }
        }
      }
    }
  }
}
