// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 共通

.flex {
  display: flex;
}

.background-blue {
  background-color: #eef3f7;
}

.school-box {
  border: solid 1px #dddddd;
  padding: 1rem;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 0.5rem;
  color: #1a3153;
  input, select {
    font-weight: 500;
    color: #1a3153;
    width: 100%;
  }
}

// // home

.home {
  color: #1a3153;
  .top {
    background-image: url('top-image.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 43rem;
    .top-background {
      background-color: rgba(0, 12, 70, 0.5);
      height: 43rem;
      .home-explanation {
        top: 10rem;
        position: absolute;
        width: 50%;
        img {
          display: block;
          width: 70%;
          margin: 0 auto;
        }
        p {
          margin: 3rem auto;
          color: #fff;
          width: 70%;
          font-size: 1.5rem;
          text-align: center;
        }
        .button {
          width: 30%;
          border-radius: 10rem;
          background-color: #007bff;
          color: #fff;
          border-color: #007bff;
          margin-top: 4rem;
        }
      }
    }
  }
  #search {
    padding: 6rem 0;
    .school-box {
      width: 60%;
      h2 {
        margin: 1rem 0 2rem 0;
      }
    }
    .circle-group {
      width: 80%;
      justify-content: space-around;
      margin: 6rem auto 0 auto;
      .circle {
        background-color: #fff;
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
        padding: 1rem;
        .circle-box {
          p {
            margin: 0;
            text-align: center;
            &:first-child {
              font-size: 1.3rem;
            }
            &:nth-child(2) {
              margin: 0 0 0.5rem 0;
              font-size: 1.1rem;
              font-weight: 600;
            }
            &:last-child {
              font-size: 2.5rem;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

.school_search {
  text-align: center;
  .submit-button {
    width: 30%;
    margin: 3rem 0 2rem 0;
    color: #fff;
  }
}

.school-form-flex-item {
  width: 50%;
  text-align: center;
  ul {
    display: flex;
    height: 2rem;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    li {
      list-style: none;
      vertical-align: middle;
      height: 100%;
      &:first-child {
        width: 35%;
      }
      &:last-child {
        width: 60%;
      }
    }
  }
  select {
    height: 100%;
  }
  &:last-child {
    border-left: 1px solid #dddddd;
  }
}

.school-form-flex-item-left {
  margin: 0 0 0 2rem;
  padding: 1.5rem 3rem 1.5rem 0;
  &:first-child {
    border-top: 1px solid #dddddd;
  }
}

.school-form-flex-item-right {
  margin: 0 2rem 0 0;
  padding: 1.5rem 2rem 1.5rem 1rem;
  &:first-child {
    border-top: 1px solid #dddddd;
  }
}

.school-form-label {
  display: block;
  text-align: center;
  font-weight: 700;
  line-height: 2rem;
}

.school-form-select {
  font-size: 1rem;
  height: 100%;
}
