// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 全共通

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.button {   //aタグ
  border: 1px solid;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 0.25rem;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  &:hover {
    opacity: 0.7;
  }
}

// ユーザー関連共通

.box {
  padding: 2rem 1rem 1.5rem 1rem;
  border-radius: 1rem;
  background-color: #fff;
}

.background {
  width: 100%;
  padding: 4rem 0;
}

.link {
  text-decoration: none;
  color: #525252;
  margin-bottom: 0.5rem;
  display: inline-block;
  &:hover {
    opacity: 0.5;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.blue-link {
  color: rgb(8, 189, 255);
  font-weight: bold;
  &:hover {
    opacity: 0.5;
  }
}

// プロフィール

.profile-box {
  width: 60%;
  margin: 0 auto;
}

.profile-info {
  text-align: center;
  border-bottom: 1px solid rgb(212, 212, 212);
  margin: 0;
  padding: 1.3rem 0;
}

.profile-title {
  margin: 0;
}

.introduction {
  border: solid 1px black;
  width: 70%;
  height: 100px;
  margin: 1.3rem auto;
  padding: 10px;
}

.change-button {
  background-color: #007bff;
  color: white;
  width: 7rem;
  font-size: 1.1rem;
}

// プロフィール編集

.profile-edit-form {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  textarea {
    width: 95%;
    margin: 0;
  }
  .button {
    width: 60%;
    color: black;
    margin-bottom: 1rem;
  }
  .submit-button {
    width: 60%;
    margin: 1rem 0 2rem 0;
    font-size: 1rem;
  }
}

.profile-edit-table {
  border-spacing: 0 2rem;
  margin: 0 auto;
  width: 100%;
  th {
    text-align: left;
    border-bottom: 1px solid rgb(212, 212, 212);
    padding-bottom: 2rem;
  }
  td {
    text-align: left;
    border-bottom: 1px solid rgb(212, 212, 212);
    padding-bottom: 2rem;
    input {
      padding: 0.3rem;
    }
    select {
      padding: 0.3rem;
    }
  }
}

.profile-edit-title {
  margin-bottom: 1.8rem;
}

.link-box {
  margin-bottom: 1rem;
}

// devise共通(以下devise)

.devise-user-box {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  color: #1a3153;
  h2 {
    margin: 0 0 1rem 0;
  }
}

.field {
  margin: 1rem auto;
  width: 60%;
  input {
    padding: 0.3rem;
    height: 2rem;
    width: 100%;
    box-sizing: border-box;
  }
}

.actions {
  width: 60%;
  margin: 2rem auto 1.5rem auto;
  input {
    padding: 0.5rem 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

.label {
  text-align: left;
  label {
    font-size: 0.8rem;
  }
}


// ログイン

.sign-in {
  .actions {
    margin-top: 1.5rem;
  }
}

.remember {
  display: flex;
  justify-content: center;
  line-height: 100%;
  align-items: center;
  margin-top: 1.5rem;
  input {
    height: auto;
  }
}

.remember-me {
  margin-left: 0.5rem;
}

// アカウント情報編集
.under-label-text {
  font-size: 0.8rem;
  margin: 0;
}

.delete-user {
  text-decoration: none;
  color: red;
  margin-top: 1rem;
  display: block;
  &:hover {
    opacity: 0.7;
  }
}

.edit-acount-info .link-box {
  width: 50%;
  margin: 1rem auto;
  .blue-link {
    margin-right: 1rem;
  }
}

// レスポンシブデザイン

@media screen and (max-width: 960px) {

  // アカウント登録

  .devise-user-box {
    width: 80%;
    max-width: 500px;
  }

}

@media screen and (max-width: 520px) {

  // アカウント登録

  .field {
    width: 80%;
  }

  .actions {
    width: 80%;
  }
}
