// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 全共通

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 0;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.button {   //aタグ
  border: 1px solid;
  color: #fff;
  text-align: center;
  padding: 0.5rem 0;
  border-radius: 0.25rem;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  &:hover {
    opacity: 0.7;
  }
}

// ユーザー関連共通

.box {
  padding: 2rem 1rem 1.5rem 1rem;
  border-radius: 1rem;
  background-color: #fff;
}

.background {
  width: 100%;
  padding: 4rem 0;
}

.link {
  text-decoration: none;
  color: #525252;
  margin-bottom: 0.5rem;
  display: inline-block;
  &:hover {
    opacity: 0.5;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.blue-link {
  color: #007bff;
  font-weight: bold;
  &:hover {
    opacity: 0.5;
  }
}

// プロフィール編集(メイン)  プロフィール 共通

.edit-profile, .profile-show {
  .profile-box {
    margin: 0 auto;
    color: #1a3153;
    width: 600px;
    .box {
      padding: 2rem 1rem;
      .profile-edit-title {
        margin: 0.5rem 0 2rem 0;
      }
      .profile-edit-form, .profile-content {
        margin: 0 2rem;
        text-align: center;
        img {
          margin-bottom: 1rem;
        }
        .profile-item {
          display: flex;
          align-items: center;
          border-bottom: 1px solid #dddd;
          padding: 1.5rem 2rem;
          margin: 0;
          .profile-item-label {
            width: 33%;
            text-align: left;
            font-weight: 600;
            .badge {
              font-weight: normal;
            }
          }
          .profile-item-content {
            width: 67%;
          }
          .profile-edit-change-school {
            width: 57%;
          }
          .profile-edit-school-delete {
            width: 10%;
            a {
              color: #1a3153;
            }
          }
        }
        .set-user-icon {
          input {
            padding: 0;
          }
        }
        .profile-textarea {
          padding: 1.5rem 2rem;
          .introduction {
            margin: 0;
            box-sizing: border-box;
            width: 100%;
            padding: 0.3rem;
            height: 7rem;
          }
        }
        input {
          padding: 0.3rem;
          width: 100%;
          box-sizing: border-box;
        }
        select {
          padding: 0.3rem;
          width: 100%;
          box-sizing: border-box;
        }
        .submit-button {
          width: 60%;
          margin: 0.3rem 0 2rem 0;
          padding: 0.5rem 0;
        }
        .button {
          width: 60%;
          color: #000;
        }
      }
    }
  }
  #error_explanation {
    margin-bottom: 1rem;
  }
}

// プロフィール
.profile-show {
  .profile-box {
    .box {
      .profile-content {
        .profile-title {
          font-size: 1.1rem;
          border-bottom: 1px solid #dddd;
          padding-bottom: 1rem;
          text-align: left;
        }
        .profile-item-icon {
          margin: 2rem 0 1rem 0;
          img {
            margin: 0;
          }
        }
        .profile-item {
          .profile-item-label {
            position: absolute;
          }
          .profile-item-content {
            margin: 0 auto;
            width: 60%;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 600;
          }
        }
        .introduction {
          border: solid 1px #dddd;
          border-radius: 0.25rem;
          height: auto;
          min-height: 4rem;
          margin: 2rem 2rem 0 2rem;
          padding: 0.5rem;
          text-align: left;
          p {
            margin-top: 0;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
        .button {
          margin-top: 2rem;
          background-color: #007bff;
          color: #fff;
        }
      }
    }
  }
}

.change-button {
  background-color: #007bff;
  color: white;
  width: 7rem;
  font-size: 1.1rem;
}


// devise共通(以下devise)

.devise-user-box {
  text-align: center;
  width: 500px;
  margin: 0 auto;
  color: #1a3153;
  h2 {
    margin: 0 0 1rem 0;
  }
}

.field {
  margin: 1rem auto;
  width: 60%;
  input {
    padding: 0.3rem;
    height: 2rem;
    width: 100%;
    box-sizing: border-box;
  }
}

.actions {
  width: 60%;
  margin: 2rem auto 1.5rem auto;
  input {
    padding: 0.5rem 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

.label {
  text-align: left;
  label {
    font-size: 0.8rem;
  }
}

// 新規登録
.sign-up {
  #error_explanation {
    ul {
      width: 95%;
      li {
        text-align: left;
      }
    }
  }
}

// ログイン

.sign-in {
  .actions {
    margin-top: 1.5rem;
  }
}

.remember {
  display: flex;
  justify-content: center;
  line-height: 100%;
  align-items: center;
  margin-top: 1.5rem;
  input {
    height: auto;
  }
}

.remember-me {
  margin-left: 0.5rem;
}

.guest-login {
  border-top: #dddd 1px solid;
  width: 60%;
  margin: 0 auto;
  .button {
    background-color: #007bff;
    width: 100%;
    margin: 1rem auto 0.5rem auto;
    border: none;
  }
}

// アカウント情報編集

.edit-acount-info, .edit-profile {
  display: flex;
  .link-box {
    border-right: 1px solid #dddd;
    background-color: #fff;
    width: 15rem;
    margin: 0;
    padding-top: 1rem;
    font-size: 1.1rem;
    li {
      padding: 1rem 1.5rem 1rem 1rem;
      text-align: right;
      a:hover {
        color: #007bff;
        opacity: 1;
      }
    }
    .current-page {
      border-right: 3px solid #007bff;
    }
  }
  .button {
    color: #000;
    width: 60%;
  }
}

.edit-acount-info {
  #error_explanation {
    ul {
      width: 95%;
      li {
        text-align: left;
      }
    }
  }
}

.under-label-text {
  font-size: 0.8rem;
  margin: 0;
}

.delete-user {
  text-decoration: none;
  color: red;
  margin-top: 1rem;
  display: inline-block;
  &:hover {
    text-decoration: underline;
  }
}

// レスポンシブデザイン

@media screen and (max-width: 960px) {

  // アカウント登録

  .devise-user-box {
    width: 80%;
    max-width: 500px;
  }

  // アカウント情報編集

  .edit-acount-info, .edit-profile {
    display: block;
    .link-box {
      padding-left: 1rem;
      border-right: none;
      border-bottom: 1px solid #dddd;
      width: 100%;
      display: flex;
      li {
        padding: 1rem;
      }
      .current-page {
        border-right: none;
        border-bottom: 3px solid #007bff;
      }
    }
  }

  // プロフィール編集
  .edit-profile {
    .profile-box {
      max-width: 600px;
      width: 80%;
      .box {
        .profile-edit-form {
          img {
            margin-bottom: 0rem;
          }
          .profile-item {
            display: block;
            .profile-item-label {
              margin-bottom: 1rem;
              width: 100%;
            }
            .profile-item-content {
              width: 100%;
              max-width: 20rem;
            }
          }
          .profile-edit-school {
            display: flex;
            flex-wrap: wrap;
            .profile-item-label {
              width: 100%;
            }
            .profile-edit-change-school {
              width: 85%;
            }
            .profile-edit-school-delete {
              width: 15%;
            }
          }
          .submit-button {
            min-width: 15rem;
          }
          .button {
            min-width: 15rem;
          }
        }
      }
    }
  }

  // プロフィール
  .profile-show {
    .profile-box {
      max-width: 600px;
      width: 80%;
      .box {
        .profile-content {
          .profile-item-icon {
            margin: 2rem 0 0 0;
          }
          .profile-item {
            display: block;
            .profile-item-label {
              position: initial;
              margin-bottom: 1rem;
              width: 100%;
            }
            .profile-item-content {
              width: 100%;
            }
          }
          .button {
            min-width: 15rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {

  // アカウント登録

  .field {
    width: 80%;
  }

  .actions {
    width: 80%;
  }

  // ログイン
  .guest-login {
    width: 80%;
  }

    // アカウント情報編集

  .edit-acount-info, .edit-profile {
    .link-box {
      padding-top: 0;
      padding-left: 0;
      font-size: 0.9rem;
      li {
        text-align: center;
      }
    }
    .button {
      width: 80%;
    }
  }

  // プロフィール編集
  .edit-profile {
    .profile-box {
      width: 85%;
      .box {
        .profile-edit-form {
          margin: 0 1rem;
          .profile-item {
            padding: 1.5rem 0.5rem;
          }
          .profile-textarea {
            padding: 1.5rem 0.5rem;
          }
          .submit-button {
            min-width: 8rem;
            width: 80%;
          }
          .button {
            min-width: 8rem;
            width: 80%;
          }
        }
      }
    }
  }

  // プロフィール
  .profile-show {
    .profile-box {
      width: 85%;
      .box {
        .profile-content {
          margin: 0 1rem;
          .profile-item {
            padding: 1.5rem 1rem;
          }
          .introduction {
            margin: 2rem 1rem 0 1rem;
          }
          .button {
            min-width: 8rem;
            width: 80%;
          }
        }
      }
    }
  }
}
