// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 共通
.box {
  border: solid 1px rgb(91, 90, 90);
  padding: 1rem;
  border-radius: 2rem;
}

.button {
  border: 1px solid;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.25rem;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  &:hover {
    opacity: 0.7;
  }
}

.background {
  width: 100%;
  background-color: rgb(225, 254, 254);
  padding: 5rem 0;
}


// プロフィール

.profile {
  width: 60%;
  margin: 0 auto;
}

.profile-info {
  text-align: center;
  border-bottom: 1px solid rgb(212, 212, 212);
  margin: 0;
  padding: 1.3rem 0;
}

.profile-title {
  margin: 0;
}

.introduction {
  border: solid 1px black;
  width: 70%;
  height: 100px;
  margin: 1.3rem auto;
  padding: 10px;
}

.change-button {
  background-color: #007bff;
  color: white;
  width: 7rem;
  font-size: 1.1rem;
}

// プロフィール編集

.back-button {
  background-color: #007bff;
  color: white;
  width: 4rem;
  font-size: 0.8rem;
}

// devise共通(以下devise)

.devise-user-box {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  background-color: rgb(251, 251, 251);
}

.field {
  margin: 1.5rem auto;
  width: 50%;
}

.actions {
  width: 50%;
  margin: 1.5rem auto;
  input {
    width: 93%;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

input {
  padding: 0.5rem 0.2rem;
  width: 90%;
}

.label {
  text-align: left;
  padding-left: 6px;
}

label {
  font-size: 0.8rem;
}

.link {
  text-decoration: none;
  color: black;
  &:hover {
    opacity: 0.5;
  }
}

// 新規登録


// ログイン
.remember {
  display: flex;
  line-height: 100%;
}

.remember-me {
  margin-left: 0.5rem;
}

// アカウント情報編集
.under-label-text {
  font-size: 0.8rem;
  margin: 0;
}

.delete-user {
  text-decoration: none;
  color: red;
  margin-top: 1rem;
  display: block;
  &:hover {
    opacity: 0.7;
  }
}
